header {
  padding: 0 10%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 10vh;
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 5em;
    li {
      text-transform: uppercase;
      list-style: none;
      a {
        text-decoration: none;
        font-size: 2vw;
        font-weight: 600;
        letter-spacing: 0.56px;
        color: #3D3D3D;
        text-transform: uppercase;
        position: relative;
      }
      a.active:before {
        content: "";
        width: 1vw;
        height: 1vw;
        border-radius: 50%;
        background-color: #FDD000;
        position: absolute;
        bottom: -1vw;
        left: 50%;
      }
    }
  }
}
.wrap-logo {
  width: 10vw;
  img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  header {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .wrap-logo {
    width: 20vw;
  }
}
