.calendar{
  min-width: 25vw;
  .month {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 .5vw;
    .arrow {
      font-size: 2vw;
      cursor: pointer;
      transition: transform .2s;
    }
    .arrow:hover {
      transform: scale(1.3);
    }
    &__name span {
      line-height: 2vw;
      text-align: center;
      font: normal normal medium 1.5vw/23px Rubik;
      color: #DFDFDF;
      text-transform: uppercase;
      margin: 5px;
    }
  }
  .calendar-table {
    width: 100%;
    max-width: 100%;
    td, th {
      text-align: center;
      padding: .5vw;
      font-size: calc(2vw * .5em);
    }
    .row-week {
      font-weight: bold;
      font-size: calc(2.2vw * .5em);
    }
  }
}
.calendar-day {
  padding: 10px;
  height: 7vh;
  width: 5vh;
  max-height: 7vh;
  max-width: 7vh;
  cursor: pointer;
  filter: opacity(0.25);
}
.current-month {
  filter: opacity(1);
}

.calendar-day:hover {
  background-color: #FDD000;
}

.yellow-date {
  background-color: #FDD000;
  color: #3d3d3d;
}
.window {
  position: absolute;
  background-color: rgba(61, 61, 61, .7);
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .modal {
    width: 25vw;
    height: 7vw;
    background-color: #DFDFDF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    #modal-btn {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #FDD000;
      border: 1px solid gray;
    }
    label {
      color: #3d3d3d;
      font-size: 1vw;
      display: block;
    }
    #input-day, #input-month {
      width: 10vw;
      height: 2vw;
      margin-top: 5px;
      border-radius: 4px;
      font: bolder 1vw Rubik;
      color: #272829;
      border: 1px solid #FDD000;
      padding-left: 1em;
    }
  }
}

@media (max-width: 576px) {
  .calendar {
    .month {
      margin: 0;
    }
  }

}
