<div class="calendar">
  <div>
    <div class="month">
      <div class="arrow" (click)="decreaseMonth()">{{"<"}}</div>
      <div class="month__name">
        <span>{{displayMonth}}</span>
        <span>{{displayYear}}</span>
      </div>
      <div class="arrow" (click)="increaseMonth()">{{">"}} </div>
    </div>
    <!--    <input type="button" (click)="setCurrentMonth()" value="today"/>-->
  </div>
  <hr>
  <table class='calendar-table' *ngIf="calendar">
    <tbody>
    <tr *ngFor="let row of calendar | chunk: 7; let i = index">
      <td class="calendar-day"
          (click)="click($event)"
          [ngClass]="{'current-month': monthNames[c.date.getMonth()] === displayMonth, 'past-date': c.isPastDate, 'today': c.isToday, 'yellow-date': c.isToday}"
          *ngFor="let c of row; let j = index">
        {{c.date.getDate()}}
      </td>
    </tr>
    </tbody>
  </table>
  <hr>
  <table class='calendar-table'>
    <tr class="row-week">
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
    </tr>
  </table>
  <hr>
</div>
<div class="window" *ngIf="isWindow">
  <div class="modal">
    <input (click)="isWindow = !isWindow" id="modal-btn" type="button" value="&times;">
    <div>
      <label for="input-month">Month</label>
      <input id="input-month" type="text" [value]="displayMonth">
    </div>
    <div>
      <label for="input-day">Day</label>
      <input id="input-day" type="text" [value]="date + 'th  ' + dayOfWeek[numDayOfWeek]">
    </div>
  </div>
</div>

